

body {background-color: silver;}

h1 {color: chocolate; text-align: chocolate;} 

h2 {color: DodgerBlue; word-spacing: 1px; text-indent: 50px; ;  font-size: 20px;} 

h3 {text-indent: 50px;} 

h4 {font-size: 20px; text-indent: 100px; font-weight: bold; text-decoration:underline;} 

h5 {color: blue; text-align: center;font-size: 30px} 

z {font-size: 23px; line-height: 0.9;font-weight: bold;} 

p {text-indent: 100px; font-size:18px;font-weight: normal; line-height: 0.2;} 



